<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Admin</h1>
    <p>logged in as: <%= loggedInAs %></p>
    <h2>Add category</h2>
    <form action="/profile" method="POST">
      <input type="text">
      <input type="submit" value="Add category">
    </form>
   
  </body>
</html>
