<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Admin</h1>
    <p>logged in as: <%= loggedInAs %></p>
    <h2>Add category</h2>
    <div>
      <form method="POST">
        <input name="category_name" type="text">
        <input name="category_value" type="text">
        <input type="submit" value="+">
      </form>
    </div>
      
    
   
  </body>
</html>
