<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sign IN!</h1>
    <p>Log in to my awesome app</p>
    <form action="/" method="POST">
      Username<input type="text" name="username" id="username"> <br/>
      Password<input type="text" name="password" id="password"> <br/>  
      <input type="submit" value="Sign IN"> 
    </form>
    <span>You dont have account? <a href="/signUp">Sign UP!</a></span>
   
  </body>
</html>
